.category-container{

    margin-top:30px;

    background:white;

    border-radius:32px;

    padding:35px 50px;

    box-shadow:0 4px 20px rgba(0,0,0,.05);

}

.category-header{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:28px;

    margin-bottom:30px;

}

.category-header h3{

    font-size:18px;

    font-weight:700;

    letter-spacing:2px;

}

.arrow-btn{

    border:none;

    background:none;

    color:#FF751D;

    font-size:28px;

    cursor:pointer;

}

.category-grid{
    display:flex;
    flex-direction:column;
    gap:35px;
}

.category-row{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:nowrap;
}

.second-row{
    justify-content:center;
}