.balance_rap-component.flex {
  display: flex;
  align-items: center;
  background-color: #F2F5FC;
  padding-top: 40px;

}
.balance-label {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
  margin-left: 35%; 
  transition: margin-left 0.3s ease; 
}


.balance-label.on-report {
  margin-left: 3%;
}

.input-wrapper {
  position: relative;
  display: inline-block;
 
}

.balance_rap-component input {
  background: var(--color-surface);
  border: 2px solid #eef2f7;
  border-radius: var(--radius-medium);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
  outline: none;
  width: 140px;
  margin-left: 21px;
}

.balance_rap-component input:disabled {
  background: var(--color-background);
  color: var(--color-text);
  cursor: not-allowed;
}


.confirm-btn {
     margin-left: 15px;
    width: 130px;
    background-color: #FF751D;
    border: none;
    color: var(--color-surface);
    box-shadow: 1px 3px 5px rgba(255, 117, 29, 0.3);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.confirm-btn:hover {
    background-color: #de6111;
     color: var(--color-surface);
}

.confirm-btn:hover:not(:disabled) {
  border-color: #cbd5e1;

}

.confirm-btn:disabled {
  background: var(--color-background);
  color: var(--color-placeholder);
  cursor: not-allowed;
}

.tooltip-box {
  position: absolute;
  top: calc(100% + 15px);
  left: 100%;
  transform: translateX(-50%);
  z-index: 10;
  background: linear-gradient(135deg, #0d2342 0%, #061124 100%);
  color: var(--color-surface);
  padding: 30px 41px;
  border-radius: 24px;
  width: 294px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.tooltip-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 8px 0;
}

.tooltip-text {
  font-size: 12px;
  color: var(--color-placeholder);
  line-height: 1.4;
  margin: 0;
}

.tooltip-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-450%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0d2342;
}
.report-link {
    display: inline-flex;
    align-items: center;
    gap: 15px; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.04em;
    margin-left: 174px;
    
    transition: color 0.2s ease;
}

.report-link:hover {
    color: #FF751D;
}

.report-link-icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
