.login-header {
  width: 100%;
  padding: 20px 32px;
  background: var(--color-surface);
}

.login-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login-logo-text{
  position:absolute;
  left:54px;
  top: 29px;
  font-size: 19px;
  font-weight: 800;
  color:black;
  letter-spacing: 5%;
}

.login-logo img {
  width: 42px;
}

.login-logo span {
  font-size: 20px;
  font-weight: 700;
}