.report-page {
    width: 100%;
    min-height: 100vh;

    background-color: var(--color-background);

    background-image: url("../../assets/icons/Big_login_background.svg");
    background-repeat: no-repeat;
    background-position: left 10px bottom 0;
}

.report-container {
    max-width: 1234px;

    margin: 0 auto;

    padding: 0 20px 74px;

    box-sizing: border-box;
}

.report-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 30px;
}

.white-board-container {
    background: var(--color-surface);

    border-radius: 0 30px 30px 30px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.back-btn {
    border: none;
    background: none;

    cursor: pointer;

    color: var(--color-text);

    font-size: 14px;
}

.summary {
    height: 85px;

    background: var(--color-surface);

    border-radius: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.summary span {
    display: block;

    margin-bottom: 8px;

    color: var(--color-placeholder);
}

.summary strong {
    font-size: 22px;
}

.expense-box strong {
    color: var(--color-error);
}

.income-box strong {
    color: var(--color-success);
}

.divider {
    width: 1px;
    height: 50px;

    background: #E5E5E5;
}

.empty-chart {
    height: 200px;
    padding-top: 100px;
    font-size: 22px;
    justify-self: center;
    font-weight: 900;
}