.login-page {
    min-height: 100vh;
    background: #f6f7fb;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}

/* ---------- LOGIN BACKGROUNDS ---------- */

.login-big-background {
    position: absolute;
    top: 70px;
    left: 10px;

    z-index: 0;
    pointer-events: none;
}
.login-invest-h1{
    color: black
}

.login-small-background {
    position: absolute;
    left: 230px;
    bottom: 50px;

    z-index: 0;
    pointer-events: none;
}

/* ---------- CONTENT ---------- */

.login-header,
.login-content {
    position: relative;
    z-index: 1;
}

.login-content {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
    width: 100%;

    margin: 0 auto;
    padding: 60px 80px;

    box-sizing: border-box;
}

/* ---------- LEFT SIDE ---------- */

.login-left {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 72px;
    font-weight: 800;
    margin: 0;
}

.hero p {
    margin-top: 12px;
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: 600;
}

/* ---------- RIGHT CARD ---------- */

.login-right {
    width: 430px;

    display: flex;
    justify-content: center;
}

.login-card {
    width: 100%;

    background: white;

    border-radius: 30px;

    padding: 45px 40px;

    box-sizing: border-box;

    box-shadow: 0 10px 35px rgba(0, 0, 0, .08);
}