.login-page {
    min-height: 100vh;
    background: #f6f7fb;
    display: flex;
    flex-direction: column;
}

.login-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
    width: 100%;

    margin: 0 auto;
    padding: 60px 80px;
    box-sizing: border-box;
}

/* ---------- ЛІВА ЧАСТИНА ---------- */

.login-left {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 72px;
    font-weight: 800;
    margin: 0;
}

.hero p {
    margin-top: 12px;
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: 600;
}

/* ---------- ПРАВА КАРТКА ---------- */

.login-right {
    width: 430px;
    display: flex;
    justify-content: center;
}

.login-card {

    width: 100%;
    background: white;

    border-radius: 30px;

    padding: 45px 40px;

    box-sizing: border-box;

    box-shadow: 0 10px 35px rgba(0,0,0,.08);
}